html, body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #424551;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.button {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 0px 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 52px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  transition: 0.35s;
}
.button:hover {
  transform: scale(1.05);
}
.button-empty {
    border-left: 2px solid #ff3f3a;
    border-right: 2px solid #f75e05;
    background-image: linear-gradient(to left, #ff3f3a 0%, #f75e05 100%), linear-gradient(to left, #ff3f3a 0%, #f75e05 100%);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: padding-box;
    border-radius: 4px;
}
.button-empty span {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {

}
.heading {
  color: #1E212C;
}
.heading--text-center {
  text-align: center;
}
.main-about {
  padding: 180px 0 160px;
}
.main-directions {
  padding-bottom: 180px;
}
.main-cert {
  margin-bottom: -46px;
}

.main-team {
  padding: 160px 0 180px;
}
.main-testimonials {
  padding-bottom: 195px;
}
.main-companies {
  padding-bottom: 177px;
}
.main-program {
  padding: 115px 0 185px;
}
.main-blog {
  padding-bottom: 200px;
}
.main-info {
  padding-bottom: 180px;
}
.main-questions {
  padding-bottom: 180px;
}
.burger {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 0%, 0.262);
  z-index: 111;
  visibility: hidden;
  opacity: 0;
  transition: all .35s;
}
.overlay--show {
  visibility: visible;
  opacity: 1;
}
/* -------------------------  */
/* -------------------------  */

.header {
  font-weight: 700;
  background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  margin-bottom: 172px;
}
.header-top {

}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header-logo {
  margin-right: 60px;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  margin-right: 40px;
}
.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  line-height: 160%;
  white-space: nowrap;
  transition: 0.35s;
}
.header-btn-box {
  display: flex;
  align-content: center;
}
.header-top-btn {
  margin-right: 36px;
}
.header-user-nav {
  position: relative;
  margin: auto 0;
  padding-left: 28px;
}
.header-user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icons/person-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}
.header-user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: 0.35s;
}
.header-nav-link:hover,
.header-user-btn:hover {
  color: #FF3F3A;
}
/* --------------  */
.header-body {
  flex-grow: 1;
}
.header-body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
  margin-bottom: 80px;
}
.header-content {
  margin-right: 30px;
}
.header-play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}
.a1 {
  padding: 16px;
  border-radius: 50%;
  background-color: transparent;
  transition: .35s ;
}
.a1:hover .a1,
.header-play:hover .a1 {
  background-color: hsla(2, 100%, 61%, 0.12);
}


.header-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 60px;
  max-width: 500px;
}
.header-content-btns {
  display: flex;
}
.header-content-btn {
  margin-right: 24px;
}
.header-content-btn:last-child {
  margin-right: 0;
}
.header-img {
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
}

.header__row>span {
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}
/* about ------------ */
.about {

}
.about-createx:before {
  content: "";
  position: absolute;
  top: -200px;
  right: -1150px;
  background: url("../images/decor/1.svg") no-repeat;
  width: 100%;
  height: 85px;
} 
.about-inner {
}
.about-createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}
.about-createx-content {
  margin-right: 30px;
  max-width: 600px;
}
.about-heading {
  margin-bottom: 48px;
}
.heading-subtitle {
  list-style: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
.heading-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
.about-text--1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
}
.about-text--2 {
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 60px;
}
.about-btn-box {
}
.about-content-btn {
  margin-right: 24px;
}
.about-img {
}
/* -----------------  */
.about-values {
  display: flex;
  justify-content: space-between;
}
.about-image-box {
  border-radius: 4px;
}
.about-image-box img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
}
.about-numbers {
  margin-left: 30px;
  align-self: center;
}
.about-numbers span {
  font-weight: 900;
  font-size: 48px;
  letter-spacing: 0.02em;
  color: #FF3F3A;
  line-height: 130%;
  margin-right: 16px;
}
.number {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.number:last-child {
  margin-bottom: 0;
}
.number h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
}
/* -----------------  */
.directions {
  
}
.directions-inner {
  position: relative;
}
.directions-inner::before {
  content: "";
  position: absolute;
  display: block;
  top: 23px;
  left: calc(-136px - 65px);
  width: 136px;
  height: 115px;
  background: url("../images/decor/2.svg") 0 0 no-repeat;
}
.directions-inner:after{
  content: "";
  position: absolute;
  display: block;
  top: 360px;
  right: -310px;
  width: 243px;
  height: 243px;
  background: url("../images/decor/3.svg") 0 0 no-repeat;
  opacity: 0.12;
}
.directions-heading {
  margin-bottom: 90px;
}
.heading-subtitle {
}
.heading-title {
}
.directions-body {
}
.directions-filter-box {
  display: flex;
  margin-bottom: 56px;
}
.directions-filter-item {
  margin-right: 45px;
}
.directions-filter-item:last-child {
  margin-right: 0;
}
.directions-filter-btn {
  font-weight: 700;
  line-height: 160%;
  padding: 1.2px 9.4px;
  border-radius: 4px;
  border: 1px solid #9A9CA5;
  color: #9A9CA5;
  background: transparent;
  transition: color 0.35s;
  font-size: 16px;
}
.directions-filter-btn--active {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  border: none;
}
.directions-list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}
.directions-list-item {
  transition: box-shadow 1s;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-radius: 4px;
}
.directions-item-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
}
.directions-list-item:hover {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: box-shadow 0.35s;
}
.directions-list-item:hover .direction-link-btn  {
  color: #FF3F3A;
  transition: color 0.35s;
}

.directions-image-box {
}
.directions-image-box img {
  width: 100%;
  height: 100%;
}
.directions-link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.direction-link-tag {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  background-color: #999;
  padding: 6px 8px;
  align-self: flex-start;
  border-radius: 4px;
  margin-bottom: 20px;
}
.direction-link-text {
  color: #787A80;
  margin-bottom: 20px;
}
.direction-link-btn {
  display: flex;
  align-items: center;
  font-weight: 900;
  transition: all 1s;
  color: #1E212C;
}
.direction-link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right.svg") 0 2px / 100% no-repeat;
  margin-left: 11px;
}

.directions-list-item--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F5F6;
  border-radius: 4px;
  text-align: center;
  color: #424551;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.directions-list-item--empty  span {
  max-width: 240px;
}
.directions-list-item--marketing .direction-link-tag {
  background-color: #03CEA4;  
}
.directions-list-item-management .direction-link-tag {
  background-color: #5A87FC;
}
.directions-list-item--hr .direction-link-tag {
  background-color: #F89828;
}
.directions-list-item--design .direction-link-tag {
  background-color: #F52F6E;
}
.directions-list-item--development .direction-link-tag {
  background-color: #7772F1;
}
.directions-list-item--empty .direction-link-tag {
  background-color: #fff;
}
/* -------------------------------- */
/* -------------------------------- */
.cert-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.cert-inner::before{
  content: "";
  position: absolute;
  display: block;
  top: -17px;
  left: -150px;
  width: 60px;
  height: 60px;
  background: url("../images/decor/4.svg") 0 0 no-repeat;
}
.cert-content {
  max-width: 400px;
  margin-right: 30px;
}
.cert-heading {
  margin-bottom: 50px;
}
.heading-subtitle {
}
.heading-title {
  
}
.cert-text {
  margin-bottom: 30px;
  line-height: 160%;
}
.cert-image-box {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.1), 0 80px 80px -20px rgba(154, 156, 165, 0.16);
}
.cert-logos {
  display: flex;
  align-items: center;
}
.cert-logo {
  margin-right: 45px;
}
.cert-logo:last-child {
  margin-right: 0;
}
/* ------------------------------------------------------------------------ */ 
/* ------------------------------------------------------------------------ */ 
.team {
  background: url('../images/decor/team-bg.svg') 908px 46px no-repeat, #F4F5F6;
}
.team-inner {
}
.team-heading {
  margin-bottom: 60px;
  position: relative;
}
.heading-subtitle {
}
.heading-title {
}
.team-slider .slick-track {
  margin: -15px;
}
.team-slide {
  padding: 0 15px;
}
.team-slide:hover .team-socials {
  transform: translateY(0%);
}
.team-inside-inner {

}
.team-image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  height: 340px;
  overflow: hidden;
}
.team-image  {

}
.team-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}
.team-socials {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  transform: translateY(50%);
  transition: transform .35s;
}
.team-socials-item {
  margin-right: 10px;
}
.team-socials-item:last-child {
  margin-right: 0;
}
.team-social-link {
  display: block;
  line-height: 0;
}
.team-social-link path {
  transition: fill 0.35s;
}
.team-social-link:hover path {
  fill: #fff;
}
.team-info {
  text-align: center;
}
.info-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}
.info-position {
  color: #787A80;
}

.team-slider-arrows {
  position: absolute;
  bottom: 0;
  right: 0;
}
.team-slider-arrows  {
  display: flex;
  flex-direction: row;
}
.team-slider-arrow  {
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  transition: background-color .35s;
}
.team-slider-arrow svg {
  align-self: center  ;
}
.team-slider-arrow path {
  transition: fill 0.35s;
}
.team-slider-arrow:hover path {
  fill: #fff;
  background-color: #FF3F3A;
}
.team-slider-arrow:hover  {
  background-color: #FF3F3A;
}
.team-slider-prev {
  margin-right: 9px;
}
.team-slider-next {

}
/* ----------------------------------- testimonials ------------------- */ 
/* ----------------------------------- testimonials ------------------- */ 
.testimonials {
  background: url('../images/reviews/reviews-bg.svg') 50% calc(15% + 12px)  no-repeat,#F4F5F6;
}
.testimonials-inner {
}
.testimonials-heading {
  margin-bottom: 60px;
}
.heading-subtitle {
}
.heading-title {
}
.testimonials-slider-wrapper {
  position: relative;
  padding: 0 50px;
  margin-bottom: 47.5px;
}
.testimonials-slider {
  max-width: 1020px;
  margin: 0 auto;
}
.testimonials-slide {
  padding: 64px;
  background-color: #fff;
  border-radius: 4px;
}
.testimonials-slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}
.testimonials-quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}
.testimonials-quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-28px - 30px);
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}
.testimonials-user {
  display: flex;
  align-items: center;
}
.user-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.testimonials-info {
}
.testimonials-info-name {
  color: #1E212C;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 4px;
}
.testimonials-info-position {
  color: #787A80;
  line-height: 150%;
  font-size: 14px;
}
.testimonials-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
}
.svgcon {
  padding: 16px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color .35s;
}
.testimonials-arrow path {
  transition: fill .35s;
}
.testimonials-prev {
  left: 0;
}
.testimonials-next {
  right: 0;
  justify-content: flex-end;
}
.testimonials-arrow:hover path {
  fill: #fff;
}
.testimonials-arrow:hover .svgcon {
  background-color: #FF3F3A;
}
.testimonials-dots .slick-dots {
  display: flex;
  justify-content: center;
  /* align-self: center; */
  align-items: center;
}
.testimonials-dots li {
  margin-right: 12px;
}
.testimonials-dots li:last-child {
  margin-right: 0;
}
.testimonials-dots button {
  font-size: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}  
.testimonials-dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 4px;
}
.testimonials-dots .slick-active button::before  {
  background-color: $orange;
  transition: background-color .35s;
}
/* --------------------------------------------------- companies -----------------------  */
/* --------------------------------------------------- companies -----------------------  */
.companies {
  background: #F4F5F6;
}
.companies-inner {
  position: relative;
}
.companies-inner::before {
  content: "";
  position: absolute;
  left: -15%;
  bottom: -45%;
  background: url('../images/decor/5.svg') 0 0 / 100% no-repeat;
  width: 90px;
  height: 90px;
}
.companies-heading {
  margin-bottom: 60px;
}
.heading--text-center {
}
.heading-subtitle {
}
.heading-title {
}
.companies-grid-wrapper {
  display: flex;
  justify-content: center;
}
.companies-grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 4%;
}
.companies-grid-item {
}
.companies-grid-link {
  display: block;
}
.companies-grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.4;
  transition: filter 1.5s, opacity 1.3s;
}
.companies-grid-link:hover img {
  transition: .3s;
  filter: grayscale(0);
  opacity: 1;
}
/* ----------------------------------------------------------------------- program --------------------------  */ 
/* ----------------------------------------------------------------------- program --------------------------  */ 
.program {
  
}
.program-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program-content {
  margin-right: 30px;
  max-width: 600px;
}
.program-heading {
  margin-bottom: 60px;
}
.heading-subtitle {
}
.heading-title {
}
.program-acc {
}
.program-acc-item {
  margin-bottom: 24px;
}
.program-acc-link {
  display: block;
  padding-left: 40px;
}
.program-acc-item:last-child {
  margin-bottom: 0;
}
.program-acc-head {
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  font-weight: 700;
  position: relative;
}
.program-acc-head span {
  margin-right: 8px;
  color: #FF3F3A;
  font-weight: 400;
}
.program-acc-head::before,
.program-acc-head::after
  {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}
.program-acc-head::before{

}
.program-acc-head::after {
  transform: rotate(90deg);
  transition: transform .35s;
}
.program-acc-text {
  line-height: 160%;
  color: #424551;
  margin-top: 16px;
}
.program-acc-link--active .program-acc-head::after {
    transform: rotate(0deg);
}
.program-image img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}
/* -------------------------------------------------------------- blog ----------------------------  */ 
/* -------------------------------------------------------------- blog ----------------------------  */ 
.blog {
}
.blog-inner {
}
.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.blog-heading {
  margin-right: 30px;
}
.blog-content-btn {
}
.button {
}
.blog-row {
  display: flex;
  margin: 0 -15px;
  justify-content: space-between;
}
.blog-item {
  padding: 0 15px;
  flex: 0 1 33.333%;
}
.blog-item-link {
  width: 100%;
  transition: box shadow 1.3s;
}
.blog-item-link:hover  {
  box-shadow: 0px 30px 30px 10px rgba(101, 103, 109, 0.08);
  transition: box-shadow 0.35s;
}
.blog-item-link:hover .blog-item-btn{
  color: #ff3f3a;
  transition: color .3s;
}
.blog-item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog-image-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  max-height: 315px;
  position: relative;
}
.blog-image-box span {
  display: flex;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 12px;
  background: #fff;
  border-radius: 4px;
  padding: 1px 8px;
}
.blog-image-box span::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.blog-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.item-info {
  display: flex;
  margin: 0 -12px 8px;
}
.info-element {
  padding: 0 12px;
  position: relative; 
  color: #787A80;
  font-size: 14px;
  font-weight: 70;
  line-height: 150%;
}
.info-element::after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
  width: 1px;
  height: 12px;
  background-color: #787A80;
}
.info-element:last-child::after {
  content: none;
}
.blog-info-date {
  display: flex;
  align-items: center;
}
.blog-info-date::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/icons/calendar-icon.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}
.blog-info-time {
  display: flex;
  align-items: center;
}
.blog-info-time::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  background: url("../images/icons/clock-icon.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}
.blog-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 8px;
}
.blog-item-text {
  line-height: 160%;
  color: #424551;
  /* white-space: nowrap; */
  flex-grow: 1;
  margin-bottom: 16px;
}
.blog-item-btn {
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
  display: flex;
  align-items: center;
  transition: color 1.3s;
}
.blog-item-btn::after {
  content: "";
  display: block;
  top: 0;
  right: 0;
  background: url("../images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.blog-item--podcast .blog-image-box span::before {
  background: url('../images/icons/podcast.svg') 0 0 / 100% no-repeat;
}
.blog-item--video .blog-image-box span::before {
  background: url('../images/icons/video.svg') 0 0 / 100% no-repeat;
}
.blog-item--article .blog-image-box span::before {
  background: url('../images/icons/article.svg') 0 0 / 100% no-repeat;
}
.blog-item--podcast .blog-image-box  {
  background: #a3d0f7;
}
.blog-item--video .blog-image-box  {
  background: #caf0e3;
}
.blog-item--article .blog-image-box  {
  background: #fff8aa;
}
.blog-item--article .blog-info-time {
  display: none;
}
/* ---------------------------------------------------------- info -------------  */
/* ---------------------------------------------------------- info -------------  */
.info {
}
.info-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.info-content {
  margin-right: 30px;
}
.info-heading {
  margin-bottom: 40px;
}
.heading-subtitle {
}
.heading-title {
}
.info-contacts {
  margin-bottom: 48px;
}
.info-contacts-item {
  margin-bottom: 24px;
  padding-left: 32px; 
}
.info-contacts-item:last-child {
  margin-bottom: 0;
}

.info-item-top {
  color: #787A80;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
}
.info-item-top::before {
  content: "";
  position: absolute;
  top: -20%;
  left: calc(-24px - 8px);
  width: 24px;
  height: 24px;
}
.info-item-link {
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  transition: color 1.3s;
}
.info-item-addres {
  cursor: pointer;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
}
.info-item-link:hover,
.info-item-addres:hover {
  color: #ff3f3a;
  transition: .35s;
}
.info--mail .info-item-top::before {
  background: url('../images/icons/chat.svg') 0 0 / 100% no-repeat;
}
.info--phone .info-item-top::before {
  background: url('../images/icons/phone-icon.svg') 0 0 / 100% no-repeat;
}
.info--adress .info-item-top::before {
  background: url('../images/icons/mark-icon.svg') 0 0 / 100% no-repeat;
}
.info-item-addres {
}
.info-follow {
}
.follow-head {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 24px;
}
.info-socials {
  display: flex;
  align-items: center;
}
.info-socials-item {
  margin-right: 32px;
}
.info-socials-item:last-child {
  margin-right: 0px;
}
.info-socials-link svg {
  transition: transform 1s;
}
.info-socials-link path {
  transition: fill 1.5s;
}
.info-socials-link:hover path {
  fill: #000000;
  transition: fill .35s;
}
.info-socials-link:hover svg {
  transition: .3s;
  transform: scale(1.25);
}
.info-map {
  height: 412px;
  max-width: 705px;
  width: 100%;  
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  border-radius: 4px;
  overflow: hidden;
}
/* -------------------------------------------------------- questions ----------------  */
/* -------------------------------------------------------- questions ----------------  */
.questions {

}
.questions-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions-image  {
  min-width: 350px;
} 
.questions-image img {
  height: 100%;
  width: 100%;
} 
.questions-content {
  margin-left: 30px;
}
.questions-heading {
  margin-bottom: 40px;
}
.questions-form {

}
.questions-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.questions-form-label {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  /* max-width: 340px; */
  width: 100%;
  color: #424551;
  font-size: 16px;
  line-height: 160%
}
.questions-form-label:last-child {
  margin-right: 0;
}
.questions-form-input {
  
}
.questions-form-input,
.questions-form-text  {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  margin-top: 8px;
}
.questions-form-input::placeholder,
.questions-form-text::placeholder {
  line-height: 160%;
  color: #9A9CA5;
  font-size: 16px;
} 
.questions-form-text {
  resize: none;
  height: 128px;
}
.questions-form-textarea {
  width: 100%;
  margin-bottom: 50px;
}
.questions-checkbox-label {
  margin-right: 50px;
  flex: 0 0 auto;
  display: flex;
  max-width: 50%;
  line-height: 160%;
  color: #424551;
}
.questions-form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 5px 12px 0 0;
}
.questions-form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.questions-form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;;
  border-radius: 3px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  transition: border s;
}
.questions-form-default:checked + .questions-form-custom {
  background: url("../images/icons/check.svg") 50% 50% / 80% no-repeat ,#ff3f3a;
  border: 1px solid #ff3f3a;
}
.questions-form-btn {
  width: 100%;
  font-size: 16px;
  align-self: center;
}
/* ----------------------------------------- footer ----------------------------------------  */ 
/* ----------------------------------------- footer ----------------------------------------  */ 
.footer {
  color: #fff;
}
.footer-top {
  background-color: #1E212C;
  padding: 80px 0 60px;
}
.footer-top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.footer-top-col {
  padding: 0 15px;
}
.footer-top-col:first-child {
  max-width: 310px;
}
.footer-top-col:last-child{
  max-width: 316px;
}
.footer-logo {
  margin-bottom: 25px;
  display: block;
}
.footer-top-text {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}
.footer-socials {
  display: flex;
}
.footer-socials-item {
  margin-right: 20px;
}
.footer-socials-item:last-child {
  margin-right: 0;
}
.footer-socials-link {
  white-space: nowrap;
}
.footer-socials-link svg {
  transition: transform .35s;
}
.footer-socials-link:hover svg {
  transform: scale(1.2);
}
.footer-socials-link path {
  transition: fill .35s;
}
.footer-socials-link:hover path {
  fill: #fff;
}
.footer-top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}
.footer-top-title--slide {
  pointer-events: none;
}
.footer-top-list {
}
.footer-top-item {
  margin-bottom: 8px;
}
.footer-top-item svg {
  margin-right: 8px;
}
.footer-top-item:last-child {
  margin-bottom: 0;
}
.footer-item-link {
  opacity: 0.6;
  display: flex;
  align-items: center;
  transition: opacity .35s, transform .35s;
}
.footer-item-link:hover {
  transform: scale(1.05);
  opacity: 1;
}
.last-col {
  margin-bottom: 24px;
  white-space: wrap;
}
.footer-form {
  margin-bottom: 12px;
}
.footer-form-items {
  background: #ffffff1f;
  border: 1px solid #ffffff33;
  border-radius: 4px;
  display: flex;
  margin-bottom: 12px;
}
.footer-form-input {
  width: 100%;
  padding: 9px 12px;
  background: transparent;
  border-radius: 4px;
  position: relative;
  color: #fff;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
}
.footer-btn {
  background: transparent;
  padding: 10px 12px;
}
.footer-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url('../images/icons/arrow-right-mini.svg') 0 0 / 100% 100% no-repeat;
  transition: transform .35s;
}
.footer-btn:hover::before   {
  transform: scale(1.3);
}
.form-desc {
  font-size: 10px;
  line-height: 150%;
}
.footer-bottom {
  background-color: #292c37;
}
.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer-copy {
}
.footer-copy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/icons/heart.svg') 0 0 / 100% 100% no-repeat;
  vertical-align: sub;
}
.footer-go-top {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 150%;
  transition: opacity .35s, transform .35s;
}
.footer-go-top:hover {
  transform: scale(1.05);
  opacity: 1;
}
/* ------------------ media --------------------------------  */ 
/* ------------------ media --------------------------------  */ 
@media (max-width: 1200px) {
  .header-title {
    font-size: 52px;
    max-width: 376px;
  }
  .header-img {
    max-width: 450px;
  }
  /* -------------------------------------  */
  .item-info {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 8px;
  }
  .info-element {
    padding: 0;
  }
  .info-element::after {
    content: none;
  }
  .blog-info-dir {
    order: 1;
  }
  .blog-info-date {
    order: 3;
    flex-basis: 100%;
  }
  .blog-info-time {
    order: 2;
  }
}
@media  (max-width: 1100px) {
.burger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11111111;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.35s;
  border-radius: 50%;
}

.burger--follow {
  box-shadow: 0 0 8px 1.4px #bccbeb;
  background-color: #fff;
  top: 10px;
  right: 10px;
}

.burger span, .burger::before, .burger::after {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #1E212C;
  border-radius: 3px;
  position: absolute;
  transition: transform 0.35s ease;
}

.burger span {
  position: relative;
  margin: 4px 0;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
}

.burger::before {
  top: 33%;
}

.burger::after {
  top: 60%;
}
.burger.active span {
  transform: rotate(45deg) translate(-50%, -50%);
}

.burger.active::before {
  top: 7px;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.burger.active::after {
  opacity: 0;
}
  .header-top-inner {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 100px 0;
    min-width: 320px;
    z-index: 10000;
    transform: translateX(100%);
    transition: transform .35s;
  }
  .header-top-open {
    transform: translateX(0);
  }
  .header-logo {
  margin: 0 0 30px 0;
  }
  .header-nav {
    margin: 0 auto;
  }
  .header-nav-list {
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  }
  .header-nav-item {
    margin: 0;
  }
  .header-nav-link {
    display: block;
    padding: 15px;
  }
  .header {
    padding-top: 92px;
  }
  .header-btn-box {
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 10px;
  }
  .header-user-nav {
    margin-bottom: 30px;
  }
  .header-user-nav::before {
    left: 15%;
  }
  .header-top-btn {
    margin: 0;
  }
  /* --------------------------------------------  */
  .cert-inner {
    flex-direction: column;
    align-items: center;
  }
  .cert-content {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: none;
    text-align: center;
  }
  .cert-logos {
    justify-content: space-around;
  }
  /* ---------------------------------  */
  .companies-grid {
    gap: 40px 5%;
  }
  /* ---------------------------------------------  */
  .program-image {
    flex-shrink: 0;
  }
  /* ------------------------------------------  */
  .footer-top-col {
    margin-bottom: 30px;
  }
  .footer-form-items {
    max-width: 315px;
  }
  .footer-top-col:first-child {
    flex-basis: 100%;
    max-width: none;
  }
  .footer-top-col:last-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 0;
  }
  .footer-top-inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 1000px) {
    .about-img {
    display: none;
  }
  .about-btn-box {
    display: flex;
    justify-content: space-around;
  }
  .about-content-btn {
    margin-right: 0;
  }
  .about-createx-content {
    margin: 0 auto;
    text-align: center;
  }
  /* ------------------------------------  */
  .program-image {
    display: none;
  }
  .program-content {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  .header-content {
    margin: 0 auto;
    text-align: center;
  }
  .header-img,
  .header__row {
    display: none;
  }
  /* ----------------------------  */
  .companies-grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }
  /* -------------------------------------------  */
  .blog-row {
    flex-direction: column;
    margin: 0;
  }
  .blog-item {
    padding: 0 0 30px 0;
  }
  .blog-image-box {
    display: flex;
    justify-content: center;
    background: #a3d0f7
  }
  .blog-image-box img {
    width: auto;
  }
  /* -----------------------------------------  */
    .info-inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-content {
    margin: 0 0 30px 0;
  }
  .info-map {
  height: 200px;
  max-width: none;
  }
  /* ----------------------------------------------  */
  .questions-image  {
  display: none;
  } 
  .questions-image img {
    height: 100%;
    width: 100%;
  } 
  .questions-content {
    width: 100%;
  }
  .questions-inner {
    /* justify-content: center; */
  }
}
@media (max-width: 825px) {
  .directions-filter-box {
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  .directions-filter-btn {
    margin-bottom: 15px;
  }
  /* ---------------------  */ 
  .main-team {
    padding-bottom: 120px;
  }
  /* --------------------------------------- */ 
    .main-questions {
    padding-bottom: 120px;
  }
  .main-blog {
    padding-bottom: 120px;
}
}
@media (max-width: 700px) {
  .heading-title {
    font-size: 38px;
  }
  .about-values {
    flex-direction: column;
  }
  .about-image-box img {
    margin-bottom: 20px;
  }
  .about-numbers {
    margin-left: 0px;
    display: flex;
  }
  .about-numbers span {
    margin-right: 0;
  }
  .number {
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 15px;
    text-align: center;
  }
  /* ---------------------------------------  */
  .directions-list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }
  /* --------------------  */
  .cert-image-box img {
    width: 100%;
  }
  /* ---------------------------  */
  .testimonials-slider-wrapper {
    padding: 0;
  }
  .testimonials-slide {
    padding: 30px 15px;
  }
  .testimonials-arrow {
    display: none;
  }
  /* -------------------------------------------------  */
  .main-companies {
    padding-bottom: 130px;
  }
}
@media (max-width: 550px) {
  .team-image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }
  .team-slider-arrows {
    display: none;
  }
  /* ------------------------------  */
  .testimonials-slider-wrapper {
    margin-bottom: 30px;
  }
  .testimonials-slide-inner {
    padding-left: 30px;
  }
  .testimonials-quote {
    font-size: inherit;
    line-height: inherit;
  }
  .testimonials-quote::before {
    left: -30px;
    width: 20px;
  }
  .testimonials-dots button {
    width: 10px;
  }
  /* ----------------------------------------  */
  .companies-grid {
    grid-template: repeat(4,auto) / repeat(3,1fr);
  }
  /* --------------------------------------------------  */
  .program-acc-head {
    font-size: inherit;
  }
  /* ------------------------------------------------  */
  .blog-top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .blog-heading {
    margin: 0 0 20px 0;
  }
  /* ------------------------------------------------------  */
  .questions-form-row {
    flex-direction: column;
  }
  .questions-form-label {
    margin: 0 0 24px 0;
  }
  .questions-form-label:last-child {
    margin: 0;
  }
  .questions-checkbox-label {
    max-width: none;
    margin: 0 0 20px 0;
  }
  /* --------------------------------------------------  */
  .footer-top-inner {
    flex-direction: column;
  }
  .footer-top-title--slide {
    margin: 0;
    pointer-events: auto;
  }
  .footer-top-list {
    margin-top: 12px;
    display: none;
  }
  .footer-bottom-inner {
    flex-direction: column-reverse;
  }
  .footer-top-inner {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .main-about {
    padding: 0 0 160px;
  }
  .heading-title {
    font-size: 32px;
  }
  .heading-subtitle {
    font-size: 12px;
  }
  .about-text--1 {
    font-size: 16px;
  }
  .about-text--2 {
    font-size: 14px;
  }
  /* ---------------------------  */
  .main-directions {
    padding-bottom: 100px;
  }
  .directions-heading {
    margin-bottom: 40px;
  }
  .about-numbers {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 15px;
  }
  .directions-list {
    grid-template: repeat(4, auto) / repeat(1, 1fr);
    gap: 15px;
  }
  .directions-filter-box {
    display: grid;
    justify-content: space-evenly;
    margin-bottom: 30px;
    grid-template: 1fr 1fr 1fr / repeat(2, auto);
  }
  .directions-filter-item {
    margin-right: 0px;
  }
  /* -------------------------------  */
  .main-team {
    padding: 110px 0 100px;
  }
  /* ----------------------------- */ 
  .main-testimonials {
    padding-bottom: 123px;
  }
  
} 
@media (max-width: 450px) {
  .header-title {
    max-width: none;
    font-size: 28px;
  }
  .header-content-btns {
  flex-direction: column;
  }
  .header-content-btn {
    margin-bottom: 30px;
    width: 100%;
  }
  .header-main {
    margin-bottom: 0;
  }
    .about-btn-box {
    flex-direction: column;
  } 
    a.about-content-btn.button.button-empty {
    margin-bottom: 15px;
  }
  /* ------------------------------------  */
  .directions-filter-btn {
    font-size: 12px;
    line-height: 1;
  }
  /* ------------------------------------  */
  .cert-logos {
    flex-wrap: wrap;
  }
  /* --------------------------------------  */
  .companies-grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
  }
  /* ----------------------------------------------  */
  .info-socials-item {
    margin-right: 15px;
  }
}
@media (max-width: 400px) {
  .header-top-inner {
    min-width: none;
    left: 0;
  }
  
  .about-text--2 {
    margin-bottom: 35px;
  }
  .heading-title {
    font-size: 28px;
  }
  .about-heading {
    margin-bottom: 20px;
} 
  .about-text--1 {
    font-size: 14px;
  }
  .about-text--2 {
    font-size: 12px;
  }
  /* ----------------- */
  .main-blog {
    padding-bottom: 100px;
}
  /* -------------------  */
  .about-numbers span {
    font-size: 30px;
  }   
  .number h4 {
    font-size: 15px;
    white-space: nowrap;
  }
  /* ------------------------------- */
      .main-questions {
        padding-bottom: 60px;
    }
}
@media (max-width: 350px) {


}








